:root {
	/* Setter variabler for enklere tilpassing i etterkant. */
	--headingFonts: Tahoma,sans-serif;
	--standardText: Arial,Helvetica,sans-serif;
	/* Bruk HSL-farger! Det vil komme til nytte siden! */
	--toneDark: hsl(111,25%,87%);
	--toneNav: hsl(185,89%,16%);
	--toneNavShade: hsl(105,89%,16%);
	--toneBright:  hsl(185,11%,95%);
	--toneWarm:  hsl(354,21%,90%);
	--toneWarmDark:  hsl(352,62%,50%);
	--toneWarmXtraDark: hsl(352,53%,37%);
	/* Knotter og details */
	--boxShadow: .2rem .2rem 0 rgba(0,0,0,.4);
}

body {
	background: var(--toneWarmXtraDark);
	padding: 0;
	margin: 0;
	font-family: var(--standardText);
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--headingFonts);
	color: var(--toneWarmDark);
}



a {
	color: var(--toneNav);
	text-decoration: none;
}

button {
	padding: .6rem;
	color: white;
	background: linear-gradient(var(--toneNavShade),var(--toneNav));
	border: none;
	box-shadow: var(--boxShadow);
	
}

input {
	min-width: 12rem;
}

#changePWfieldset {display: none;}

/* Header (+ Footer) Core */

header, footer {
	margin: 0;
	background: var(--toneDark);
	width: 100%;
	padding: .4rem 1.4rem;
}

header .searchbar-div {
	position: absolute;
	top: 1.4rem;
	right: 3.4rem;
}
header input[type=search] {
	font-size: 1.2rem;
}
header input[type=submit] {
	cursor: pointer;
	min-width: 2rem;
	width: clamp(2rem,100%,3rem);
	padding: .6rem;
	color: white;
	background: linear-gradient(var(--toneNavShade),var(--toneNav));
	border: none;
	box-shadow: var(--boxShadow);
}


header a {
	text-decoration: none;
}

header a:hover {
	font-weight: bold;
	border-bottom: dotted 2px var(--toneWarmDark);
	padding-bottom: .3rem;
}
header h1 {
	margin: .2rem 0;
}
header h1.logo img {
	width: clamp(3rem,100%,9rem);
	height: auto;
}

nav.header-nav ul {
	display: flex;
}


nav.header-nav li {
	white-space: nowrap;
	margin-right: 1.4rem;
	list-style-type: none;
}


nav a.active {
	font-weight: bold;
	border-bottom: solid 2px var(--toneWarmDark);
	padding-bottom: .3rem;
}
/* MERK: Klassen shadow er tenkt for meny-elementer som ikke skal vises i menyen: */
nav li.shadow {
	background: white;
	padding: .2rem;
	border-radius: .2rem;
}

nav li.shadow a {
	color: darkgreen;
	font-family: monospace;
	font-size: .8rem;
}

nav li.shadow a:before {
	content: "[";
}

nav li.shadow a:after {
	content: "]";
}

nav li.shadow a:hover {
	font-size: 1rem;
	color: maroon;
	background: yellow;
}

nav li.shadow a:hover:before {
	content: "[Skal skjules: ";
}

@media screen and (max-width: 600px) {
	nav.header-nav ul {
		flex-direction: column;
	}
	nav.header-nav ul li {
		padding: .3rem 0;
		border-bottom: solid 1px white; 
		margin: .3rem 0;
		font-weight: bold;
		font-size: 1.2rem;
	}
	nav.header-nav ul li:last-child {
		border: none;
	}
}

/* Main Core */

main {
	margin: 0;
	background: var(--toneBright);
}

main article,main .kategorier, main .produktvisning, main .korg {
	width: clamp(12rem,85%,42rem);
	margin: 2rem auto 4rem auto;
	border: solid 2px var(--toneWarm);
	border-top: none;
	border-bottom: none;
	padding: 0 1.6rem 4rem 1.6rem;
}

main article details {
	margin: 2rem 0;
}

main article details summary {
	cursor: pointer;
	font-size: .9rem;
	padding: .6rem 1rem;
	background: var(--toneDark);
	border: none;
	box-shadow: var(--boxShadow);
	margin-bottom: .4rem;
	display: inline-block;
}

main article details summary span:last-child {
	display: none;
}


main article details[open] summary span:last-child {
	float: left;
	display: block;
	margin-right: .6rem;
}
main article details[open] summary span:first-child {
	display: none;
}

/* Disse klassene tillater bredere visning for main. */
main .kategorier, main .produktvisning, main .korg {
	width: clamp(20rem,100%,90vw);
}

/* Footer Core */
footer {
	background: var(--toneWarmXtraDark);
	background-image: url(../grafikk/logo-hvit.svg);
	background-repeat: no-repeat;
	background-size: clamp(4rem,10vw,10rem);
	background-position: 87vw 1.4rem;
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-right: 14vw;
}

footer h3 {
	color: white;
	font-weight: bold;
	font-size: .9rem;
	margin: 1.4rem 0 .3rem 0;
}

footer ul {
	border-radius: .3rem;
	list-style-type: square;
	padding-left: 1rem;
}
footer h3, footer ul {
	margin-left: 2rem;
}
	
footer li {
	font-size: smaller;
	margin: .6rem 0;
	color: white;
}

footer a {
	color: var(--toneBright);
	text-decoration: none;
}

footer a:hover {
	padding-bottom: .2rem;
	border-bottom: dotted 2px var(--toneBright);
}

@media screen and (max-width: 600px) {
	footer {
		padding-top: 2rem;
		background-position: 2rem 1.2rem;
		flex-direction: column;
	}
	

}
