:root {
	/* Setter variabler for enklere tilpassing i etterkant. */
	--headingFonts: Tahoma,sans-serif;
	--standardText: Arial,Helvetica,sans-serif;
	/* Bruk HSL-farger! Det vil komme til nytte siden! */
	--toneDark: hsl(111,25%,87%);
	--toneNav: hsl(185,89%,16%);
	--toneNavShade: hsl(105,89%,16%);
	--toneBright:  hsl(185,11%,95%);
	--toneWarm:  hsl(354,21%,90%);
	--toneWarmDark:  hsl(352,62%,50%);
	--toneWarmXtraDark: hsl(352,53%,37%);
	/* Knotter og details */
	--boxShadow: .2rem .2rem 0 rgba(0,0,0,.4);
}

body {
	background: var(--toneWarmXtraDark,hsl(352,53%,37%));
	padding: 0;
	margin: 0;
	font-family: var(--standardText,Arial,Helvetica,sans-serif);
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--headingFonts,Tahoma,sans-serif);
	color: var(--toneWarmDark,hsl(352,62%,50%));
}



a {
	color: var(--toneNav,hsl(185,89%,16%));
	text-decoration: none;
}

button {
	padding: .6rem;
	color: white;
	background: linear-gradient(var(--toneNavShade,hsl(105,89%,16%)),var(--toneNav,hsl(185,89%,16%)));
	border: none;
	box-shadow: var(--boxShadow,.2rem .2rem 0 rgba(0,0,0,.4));
	
}

input {
	min-width: 12rem;
}

#changePWfieldset {display: none;}

/* Header (+ Footer) Core */

header, footer {
	margin: 0;
	background: var(--toneDark,hsl(111,25%,87%));
	width: 100%;
	padding: .4rem 1.4rem;
}

header .searchbar-div {
	position: absolute;
	top: 1.4rem;
	right: 3.4rem;
}
header input[type=search] {
	font-size: 1.2rem;
}
header input[type=submit] {
	cursor: pointer;
	min-width: 2rem;
	width: clamp(2rem,100%,3rem);
	padding: .6rem;
	color: white;
	background: linear-gradient(var(--toneNavShade,hsl(105,89%,16%)),var(--toneNav,hsl(185,89%,16%)));
	border: none;
	box-shadow: var(--boxShadow,.2rem .2rem 0 rgba(0,0,0,.4));
}


header a {
	text-decoration: none;
}

header a:hover {
	font-weight: bold;
	border-bottom: dotted 2px var(--toneWarmDark,hsl(352,62%,50%));
	padding-bottom: .3rem;
}
header h1 {
	margin: .2rem 0;
}
header h1.logo img {
	width: clamp(3rem,100%,9rem);
	height: auto;
}

nav.header-nav ul {
	display: flex;
}


nav.header-nav li {
	white-space: nowrap;
	margin-right: 1.4rem;
	list-style-type: none;
}


nav a.active {
	font-weight: bold;
	border-bottom: solid 2px var(--toneWarmDark,hsl(352,62%,50%));
	padding-bottom: .3rem;
}
/* MERK: Klassen shadow er tenkt for meny-elementer som ikke skal vises i menyen: */
nav li.shadow {
	display: none;
	background: white;
	padding: .2rem;
	border-radius: .2rem;
}

nav li.shadow a {
	color: darkgreen;
	font-family: monospace;
	font-size: .8rem;
}

nav li.shadow a:before {
	content: "[";
}

nav li.shadow a:after {
	content: "]";
}

nav li.shadow a:hover {
	font-size: 1rem;
	color: maroon;
	background: yellow;
}

nav li.shadow a:hover:before {
	content: "[Skal skjules: ";
}

@media screen and (max-width: 600px) {
	nav.header-nav ul {
		flex-direction: column;
	}
	nav.header-nav ul li {
		padding: .3rem 0;
		border-bottom: solid 1px white; 
		margin: .3rem 0;
		font-weight: bold;
		font-size: 1.2rem;
	}
	nav.header-nav ul li:last-child {
		border: none;
	}
}

label {
	font-size: .9rem;
	color: #333;
	font-weight: normal;
	margin-right: .6rem;
}
label:after {
	content: ":";
}

/* Main Core */

main {
	margin: 0;
	background: var(--toneBright,hsl(185,11%,95%));
}

main article,main .kategorier, main .produktvisning, main .korg {
	width: clamp(12rem,85%,42rem);
	margin: 2rem auto 4rem auto;
	border: solid 2px var(--toneWarm,hsl(354,21%,90%));
	border-top: none;
	border-bottom: none;
	padding: 0 1.6rem 4rem 1.6rem;
}

main article details {
	margin: 2rem 0;
}

main article details summary {
	cursor: pointer;
	font-size: .9rem;
	padding: .6rem 1rem;
	background: var(--toneDark,hsl(111,25%,87%));
	border: none;
	box-shadow: var(--boxShadow,.2rem .2rem 0 rgba(0,0,0,.4));
	margin-bottom: .4rem;
	display: inline-block;
}

main article details summary span:last-child {
	display: none;
}


main article details[open] summary span:last-child {
	float: left;
	display: block;
	margin-right: .6rem;
}
main article details[open] summary span:first-child {
	display: none;
}

/* Disse klassene tillater bredere visning for main. */
main .kategorier, main .produktvisning, main .korg {
	width: clamp(20rem,100%,90vw);
}

/* Footer Core */
footer {
	background: var(--toneWarmXtraDark,hsl(352,53%,37%));
	background-image: url(../grafikk/logo-hvit.svg);
	background-repeat: no-repeat;
	background-size: clamp(4rem,10vw,10rem);
	background-position: 87vw 1.4rem;
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-right: 14vw;
}

footer h3 {
	color: white;
	font-weight: bold;
	font-size: .9rem;
	margin: 1.4rem 0 .3rem 0;
}

footer ul {
	border-radius: .3rem;
	list-style-type: square;
	padding-left: 1rem;
}
footer h3, footer ul {
	margin-left: 2rem;
}
	
footer li {
	font-size: smaller;
	margin: .6rem 0;
	color: white;
}

footer a {
	color: var(--toneBright,hsl(185,11%,95%));
	text-decoration: none;
}

footer a:hover {
	padding-bottom: .2rem;
	border-bottom: dotted 2px var(--toneBright,hsl(185,11%,95%));
}

@media screen and (max-width: 600px) {
	footer {
		padding-top: 2rem;
		background-position: 2rem 1.2rem;
		flex-direction: column;
	}
	

}

/** Skal senere oppdeles i egne stilalrk som importeres: **/

/* searchbar.css */

.searchbar-div {
    width: 350px;
    border: 1px black solid;
    background-color: var(--toneBright);
    align-items: center;
    justify-content: center;

    display:flex;
}

.searchbar {
    max-width: 350px;
}

.searchbar img {
    height:10px;
}

/* skjema.css */

form {
	width: clamp(20rem,100%,32rem);
}

form fieldset {
	padding: 1rem;
	border: solid 2px var(--toneWarm);
	border-radius: .4rem;
	margin-bottom: 1.2rem;
}

form legend {
	font-weight: bold;
	color:  var(--toneWarmXtraDark);
	padding: 1rem;
}

form div.radioRows p {
	justify-content: flex-start;
}
form div.radioRows label:after {
	content: "";
}

form p {
	display: flex;
	justify-content: space-between;
}


form p label {
	margin-left: 0;
	margin-right: 1rem;
}

form p label:after, form legend:after {
	content: ":";
}

form p input {
	font-size: 1rem;
	background: white;
	flex-basis: clamp(12rem,62%,20rem);
	margin-right: 1rem;
}


form .actions {
	text-align: right;
}

form .actions input {
	font-weight: bold;
	font-size: .9rem;
	letter-spacing: .1rem;
	padding: .9rem 1rem;
	background: var(--toneDark);
	border: none;
	box-shadow: var(--boxShadow);
	margin-bottom: .4rem;
}

@media screen and (max-width: 600px) {
	form p {
		flex-direction: column;
		padding: 0;
	}
	form p label {
		margin: 0 0 .2rem .2rem;
	}
	form p input{
		padding: 0.4rem .2rem;
	}
}

/* vareliste.css */


.produktvisning-row1 {
    text-align: center;
}

.kategorier h2{
    text-align: center;
}

.fordeg h2 {
    text-align: center;
}

.produktGrid {
    position: relative;
    display: inline-grid;
    margin: 2%;
    width: 23%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    font-size: 1rem;
}

.produktGrid:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.produktGrid img {
    width: 100%;
    height: auto;
}

.produktGrid2 {
    position: relative;
    display: inline-grid;
    margin: 2%;
    width: 27%;
    cursor: pointer;
}

.produktGrid2:hover img{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.produktGrid2 img {
    width: 100%;
    height: auto;
}

.container-grid {
    align-items: center;
    text-align: center;
}

.grid {
    position: relative;
    display: inline-grid;
    margin: 2%;
    cursor: pointer;
}

.grid img {
    width: 400px;
    height: 300px;
}

.grid p {
    margin-top: 2%;
    margin-bottom: 2%;
}

.grid a {
    margin-top: 2%;
    margin-bottom: 2%;
    color: blue;
    background-color: transparent;
}

.produkttekst {
    text-align: center;
}

.korg {
    text-align: center;
}

.kategorier {
    text-align: center;
}

.container-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.produkter img {
    width: 100%;
    height: auto;
}

.produktGrid h4 {
    text-align: center;
    padding: 2em;
}

.favoritt {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    color: #555;
    background-color: transparent;
}

.favoritt.active {
    color: red;
    background-color: transparent;
}

.anbefaling h3 {
    text-align: center;
    padding: 3em;
}

.produktDetalj {
    background-color: #fff;
    color:  black;
    padding: 1em;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    align-items: center;
    width: 1100px;
    height: 100%;
    border-radius: 6px;
}

.produktDetalj img {
    width: 500px;
    height: auto;
}

.text-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container h2 {
    text-align: center;
    font-size: 20px;
}

.Produktbeskrivelse {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 15px;
}

.Produktbeskrivelse li {
    margin-bottom: 5px;
}

a.button {
    background: linear-gradient(black, black);
    color: #fff;
    background-color: transparent;
    padding: 8px 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.størrelseUtvalg {
    margin: 20px 0;

}

.størrelseUtvalg label {
    margin-bottom: 10px;
    margin-top: 10px;
}

.størrelseUtvalg select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
}

