.searchbar-div {
    width: 350px;
    border: 1px black solid;
    background-color: var(--toneBright);
    align-items: center;
    justify-content: center;

    display:flex;
}

.searchbar {
    max-width: 350px;
}

.searchbar img {
    height:10px;
}