/* Bør stiler for klassen .korg og .kategorier også mekkes til i dette stilarket? */

.produktvisning {
    text-align: center;
}

.kategorier h2{
    text-align: center;
}

.fordeg h2 {
    text-align: center;
}

.produktGrid:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.produktGrid img {
    width: 100%;
    height: auto;
}

.container-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.produkter img {
    width: 100%;
    height: auto;
}

.produktGrid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 30px;
    width: 450px;
    cursor: pointer;
}

.Kategori {
    margin: 30px;
    width: 500px;
    cursor: pointer;
    text-align: center;
}

.Kategori img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: auto;
}

.Kategori img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

figcaption {
    padding: 2em;
}

figcaption h4 {
    text-align: center;
}

.favoritt {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    color: #aaa;
}

.favoritt.active {
    color: red;
}

.anbefaling h3 {
    text-align: center;
    padding: 3em;
}

.produktDetalj {
    background-color: #fff;
    padding: 1em;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    align-items: center;
    min-height: 30vh;
    width: 67rem;
    height: 42rem;
}

.produktDetalj figure {
    margin: 0;
    width: 50%;
    flex: 1;
    max-width: 50%;
}

.produktDetalj img {
    width: 500px;
    height: auto;
}

.text-container {
    width: 70%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 500px;
}

.text-container h2 {
    margin-top: 120px;
    margin-bottom: 5px;
    margin-left: 220px;

}

.text-container p {
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.produktDetalj figcaption {
    text-align: left;
    font-size: 12px;
    margin-bottom: 1px; 
}

a.button {
    background: linear-gradient(var(--toneNavShade),var(--toneNav));
    color: #fff;
    padding: 8px 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 203px;
    margin-top: 10px;
    text-decoration: none;
    box-shadow: var(--boxShadow);
}

.størrelseUtvalg select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.størrelseUtvalg {
    margin: 20px 0;
}

.størrelseUtvalg label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 220px;
    margin-top: 10px;
}

.størrelseUtvalg select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-left: 250px;
    margin-top: 5px;
}